<!-- head.ejs -->

<meta charset='utf-8'>
<title>Node Weather Page - rainygold</title>
<meta name='description' content='A simple node backed web page to show dynamic weather forecasts.'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<!-- css loaded from local assets dir -->
<link rel='stylesheet' type='text/css' href='css/index.css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>

<!-- js file for displaying the data -->
<script type='text/javascript' src='dom.js'></script>