html,
body {
    display: flex;
    height: 100%;
    background-color: white;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Merriweather', serif;
}

h1.title {
    font-size: 3em;
    color: black;
}

div#banner-title {
    margin: auto;
    text-align: center;
}

div.container {
    flex: 1 0 auto;
}

div#ejs-data {
    margin-top: 3em;
    text-align: center;
    color: black;
}

#submit-button {
    margin: 1em;
    background-color:  	#1E90FF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    font-size: 16px;
}


div.input-container {
    margin: auto;
    text-align: center;
    color: black;
}

div.day-container {
    margin: auto;
    text-align: center;
    color: black;
    display: flex;
}

div#day-1-container,
div#day-2-container,
div#day-3-container,
div#day-4-container,
div#day-5-container {
    background-color:  	#1E90FF;
    color: white;
    margin: 0.5em;
    border: 0.5em;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    width: 35%;
    height: auto;
    overflow: auto;
}

footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

p.footer-text {
    color: black;
}