<!DOCTYPE html>
<html lang='en'>

<head>
    <% include ../partials/head %>
    <!-- Server inputs weather data here to be used by dom.js -->
</head>

<body>

    <div class='container'>

        <main>
            <div id='banner-title'>
                <h1 class='title'>Node Weather Page</h1>
            </div>

            <div class='input-container'>
                <div id='input-box'>
                    <form action='#' method='POST' id='user-input-form'>
                        <input type='text' name='cityText' value='Type a city name here: e.g. Edinburgh'><br>
                        <input type='submit' value='Submit' id='submit-button'>
                    </form>
                </div>
            </div>

            <div class='day-container'>

                <% if (typeof data === 'object') { %>

                <!-- inline script is bad... should change it -->
                <script>
                    var json = <%- JSON.stringify(data) %>
                    setTimeout(function () {
                        displayWeatherData(json);
                    }, 2000)
                </script>

                <div id='day-1-container'>
                    <h2>Today</h2>
                </div>
                <div id='day-2-container'>
                    <h2>Tomorrow</h2>
                </div>
                <div id='day-3-container'>
                    <h2><%= dateThree %></h2>
                </div>
                <div id='day-4-container'>
                    <h2><%= dateFour %></h2>
                </div>
                <div id='day-5-container'>
                    <h2><%= dateFive %></h2>
                </div>
                <% }; %>
            </div>

        </main>

    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>


</body>

</html>